StepFunction.json
{
    "Comment": "Change Power State of AWS Instances.",
    "StartAt": "ChoiceState",
    "States": {
        "ChoiceState": {
            "Choices": [
                {
                    "Next": "OnMatchState",
                    "StringEquals": "on",
                    "Variable": "$.onoff"
                },
                {
                    "Next": "OffMatchState",
                    "StringEquals": "off",
                    "Variable": "$.onoff"
                }
            ],
            "Default": "DefaultState",
            "Type": "Choice"
        },
        "DefaultState": {
            "Cause": "No Matches!",
            "Type": "Fail"
        },
        "NextState": {
            "End": true,
            "Resource": "arn:aws:lambda:us-east-1:111111111111:function:List-EC2-Instances",
            "Type": "Task"
        },
        "OffMatchState": {
            "Next": "NextState",
            "Resource": "arn:aws:lambda:us-east-1:111111111111:function:AutoOn-Tagged",
            "Type": "Task"
        },
        "OnMatchState": {
            "Next": "NextState",
            "Resource": "arn:aws:lambda:us-east-1:111111111111:function:AutoOff-tagged",
            "Type": "Task"
        }
    }
}